.key{
  width:60px;
  height:60px;
  border-radius:4px;
  background-color: rgba(255,255,255,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #62ff62;
  font-size:30px;
  margin:0 10px;
  cursor: pointer;

  &--grow{
    animation-name: grow;
    animation-duration: 0.2s;
  }

}

@keyframes grow{
  0%{
    transform: scale(1);
    background-color: transparent;
  }
  20%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
    background-color: transparent;
  }
}
