
.app{
  background-image: url('../../src/assets/images/background.jpg');
  background-position: center center;
  background-size: cover;
  width:100vw;
  height:100vh;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  display: flex;
  user-select: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_keys {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
  }
}

.app h1{
  margin-bottom:65px;
  font-size:82px;
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
}
